##Data Types

- Text Type: 	str
- Numeric Types: 	int, float, complex
- Sequence Types: 	list, tuple, range
- Mapping Type: 	dict
- Set Types: 	set, frozenset
- Boolean Type: 	bool
- Binary Types: 	bytes, bytearray, memoryview
- None Type: 	NoneType

## Questions- handson

### 1.FIndout common letters between two strings

In [22]:
def common_letter(str1,str2):
  # str3=str1+"hai"
  ss=set(str1)
  sss=set(str2)
  list1=ss & sss# Avoid duplication
  return list1

str1=input("First String")
str2=input("Second String")

l=common_letter(str1,str2)
print(l)

First StringFrequency is the occurance of words or letters
Second StringLetter or words are tokens
{'r', 'o', 'n', 'w', 's', 'a', 'd', ' ', 't', 'e'}

## 2.Count the frequency of words

Number of words in the sentence

In [23]:
string="Sheena loves eating mango and apple.But mango is good"
li=string.split()
d={}  #Empty dic

for i in li:
  if i not in d.keys():
    d[i]=0
  d[i]=d[i]+1
print(d)

#  or

# for i in li:
#  if i not in d.keys():
#    d[i]=d.get(i,0)+1
# print(d)

{'Sheena': 1, 'loves': 1, 'eating': 1, 'mango': 2, 'and': 1, 'apple.But': 1, 'is': 1, 'good': 1}

## 3.Convert two list into dictionary

In [24]:
li=['alaka','dsds','dsds']
list2=[1221,3434,4343]

result=dict(zip(li,list2))

In [25]:
print(result)

{'alaka': 1221, 'dsds': 4343}

- convert dictionary items to tuple

In [26]:
ss={'alaka': 1221, 'dsds': 4343}

print(tuple(ss.items()))

(('alaka', 1221), ('dsds', 4343))

In [27]:
tuple_li=[]

for i,j in ss.items():
  tuple_li.append((i,j))

tuple_li=tuple(tuple_li)

### 4.Check whether the string is palindrom or not

In [28]:
string_sample="kanakal"
print(string_sample)

kanakal

In [29]:
string_sample.split()

list(string_sample)
p_new=[]
for i in range(len(string_sample)-1,-1,-1):
  p_new.append(string_sample[i])

In [30]:
str(p_new)

"['l', 'a', 'k', 'a', 'n', 'a', 'k']"

In [31]:
if list(string_sample)==p_new:
  print("string is palindrome")



### 5.Write a Python program to find the factorial of a number.

In [32]:
num=input("Enter the number")
num=int(num)
i=num
while(i>0):
  num=num*i
  i=i-1
print(num)

Enter the number4
96

### 6.Write a Python program to find the largest element in a list.

In [33]:
list_num=[32,54,66,22,65,89,89]
# print(max(list_num))

#     # or
larg_num=list_num[0]

for i in list_num:
  if (i>=larg_num):
    larg_num=i

### 7.Reverse a string

In [34]:
string_one="Helenkeller"

for i in range(len(string_one)-1,-1,-1):
   print(string_one[i])

r
e
l
l
e
k
n
e
l
e
H

In [35]:
num=len(string_one)
num

11

In [36]:
num_list=list(string_one)
num_list

['H', 'e', 'l', 'e', 'n', 'k', 'e', 'l', 'l', 'e', 'r']

In [37]:
sstr=[]
for i in range(len(num_list)):
  sstr.append(num_list[num-i-1])

### 8. Write a Python program to count the frequency of each element in a list.

In [38]:
list_num=[32,55,33,88,66,55,88,66,55,44,44,90]

In [39]:
set(list_num)

{32, 33, 44, 55, 66, 88, 90}

In [40]:
count={}  # Dictionary initializing
for i in list_num:
  if i in count:
    count[i]=count[i]+1  # ADD each count fre to each key
  else:
    count[i]=1

print(count)

print(sorted(count.items(),key=lambda x: x[1], reverse=True))
# print(count.items,key=lambda x:x[1],reverse=True)

{32: 1, 55: 3, 33: 1, 88: 2, 66: 2, 44: 2, 90: 1}
[(55, 3), (88, 2), (66, 2), (44, 2), (32, 1), (33, 1), (90, 1)]

### 9.Write a Python program to find the common elements between two lists.

In [41]:
# Test the function
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elemt=set(list1) & set(list2)
sorted(common_elemt,reverse=True)

[5, 4, 3]

In [42]:
list1 = [1, 2, 3,6,8,99, 4, 5]
list2 = [3, 4,90,78,55,99, 5, 6, 7]
list3=[]
for i in range(len(list1)):
  for j in range(len(list2)):
    if list1[i]==list2[j]:
        list3.append(list1[i])

### 10.Find most occured letter in a list and sort it according to the alphabet

In [43]:
stri="KrishnaBalaram"
string_sort=stri.lower()
string_sort=list(string_sort)

In [44]:
string_sort=set(string_sort)

In [45]:
print(string_sort)
print(sorted(string_sort))

{'r', 'i', 'm', 'n', 'a', 'b', 's', 'k', 'h', 'l'}
['a', 'b', 'h', 'i', 'k', 'l', 'm', 'n', 'r', 's']

In [46]:
# or- do in loop- Method 2
str_list=[]
str_list=list(stri)

frequen={}

for i in str_list:
  if i in frequen:
    frequen[i]+=1
  else:
    frequen[i]=1


# count={}  # Dictionary initializing
# for i in list_num:
#   if i in count:
#     count[i]=count[i]+1  # ADD each count fre to each key
#   else:
#     count[i]=1

# print(list_num,count)

In [47]:
print(sorted(frequen.items(),key=lambda x: x[1]))

[('K', 1), ('i', 1), ('s', 1), ('h', 1), ('n', 1), ('B', 1), ('l', 1), ('m', 1), ('r', 2), ('a', 4)]

### 11.Write a Python program to check if a number is prime.

In [48]:
num=37
def primeornot(num):
  for i in num:
    if(num%i==0):
      return 0
  return 1

### 12.Write a program Counting the Number of Occurrences of a Character in a String

In [49]:
stri="KrishnaBalaram"

setkey={}

for i in stri:
    if i in setkey:
        setkey[i]+=1
    else:
        setkey[i]=1

In [50]:
sorted(setkey.items(),key=lambda x:x[1],reverse=True)

[('a', 4),
 ('r', 2),
 ('K', 1),
 ('i', 1),
 ('s', 1),
 ('h', 1),
 ('n', 1),
 ('B', 1),
 ('l', 1),
 ('m', 1)]

### 13.Write a program for counting consonants in a given string.

In [51]:
vowel = ['a', 'e', 'i', 'o', 'u']
string = "helloalakaka"
counter = {}
for i in list(string):
  if i not in vowel and i.isalpha():  # Check if it's a consonant and a letter
    counter[i] = counter.get(i, 0) +1

print(counter)

{'h': 1, 'l': 3, 'k': 2}

In [52]:
sorted(counter.items(),key=lambda x:x[1],reverse=False)

[('h', 1), ('k', 2), ('l', 3)]